.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.navtop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #5e8ecf;
  color: #ffffff;
  font-size: 24px;
  height: 120px;
  width: 100%;
  margin-top: 5px;
}

/* To style the links inside the navigation bar */
.topnav a {
  color: #f42525;
  text-align: center;
  padding: 60px 50px;
  text-decoration: none;
  font-size: 24px;
  display: inline-flex;
}

/* To change the colour of links on hover */
.topnav a:hover {
  background-color: #d85959;
  color: black;
}

/* To add a colour to the active/current link */
.topnav a.active {
  background-color: #093a7e;
  color: #ffffff;
}

/*to style and remove the listing sign*/
nav ul li {
  display: inline-block;
  list-style: none;
  margin: 50px; /*set spaces between the menu */
}

nav ul li a {
  color: #ffffff;
  text-decoration: none; /*removes the underline*/
}

.login-btn {
  color: #ffffff;
  text-decoration: none;
  margin-right: 80px;
}

.btn {
  color: #ffffff;
  text-decoration: none;
  margin-right: 50px;
  padding: 18px 50px; /*this sets the full size of the button*/
  font-size: 15px;
  background-color: #050303;
  border-radius: 30px;
  border-top-right-radius: 0;
}

#button {
  text-decoration: none;
}

#button:hover {
  background-color: #ffffff;
}

.loggin {
  display: flex;
  gap: 100px;
}

.sign-in {
  margin-left: 580px;
}

.sign-up {
  margin-right: 10px;
}

/*To change the background colour when eac button is hovered on:*/
.sign-in:hover {
  background-color: #fb3e3e;
}

.sign-up:hover {
  background-color: #870d99;
}

/*code idea from w3schools when image could not cover the page*/
body {
  background-image: url("/images/blue-sky.png");
  background-repeat: no-repeat;
  width: 100%; /*set the image to cover the entire body viewport*/
}

/*This styles the wrapper container including the items e.g. logo and */
.wrapper {
  display: flex;
  width: 100%; /*To make the design responsive*/
  height: 100vh; /*sets the viewport height to relative to browser window's height*/
  flex: wrap; /*wraps the items into new columns and rows respectively*/
}

.right-coln,
.left-coln {
  height: 400px;
}

.logo {
  display: block;
  width: 100%;
  height: 400px;
}

.intro {
  max-width: 500px;
  position: absolute;
  top: 40%;
  left: 100px;
  transform: translateY(-40); /*sets the text at the center*/
}
/*This increases the font size, creates space between the lines*/
.intro h1 {
  line-height: 70px;
  font-size: 55px;
  color: #0f0303;
  margin: 30px 0;
}

.intro p {
  line-height: 20px;
  font-size: 20px;
  color: #021035;
  margin: 30px 0;
}
/*to create a button with blue background and black color round the edges that forms shadow*/
button {
  width: 150px;
  border: none;
  background-color: #5e8ecf;
  color: #ffffff;
  padding: 15px;
  box-shadow: 5px 10px 5px 10px #000000;
}

.intro animation {
  animation-duration: 4s; /*code from w3schools to make the content interactive*/
}
.right-coln img {
  margin-top: 50%;
  height: 400px;
  width: 70%;
}

.footer-desc {
  display: flex;
  background-color: #24409c;
  color: #ffffff;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  padding: 15px;
}

/* to insert a background color to the icon because it was not possible with the rest */

/* code separated to insert a background color to the icon because it was not possible with the rest */

@media only screen and (max-width: 600px) {
  /* main grid */
  .grid-container {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 768px) {
  body {
    background-color: #ffffff;
  }
}
